certifi==2020.12.5
netifaces==0.10.9
chardet==4.0.0
Click==8.0.1
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.0
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.17
urllib3==1.26.5
Werkzeug==2.0.1